
<% provide(:title, "About") %>
    <h1>About</h1>
<hr>
<p>This is the about page of the <a href="http://theappwebtech.com">appwebtech</a> online sample <strong>Ruby on Rails</strong> applications </p>
