

<h1>Help</h1>
<p>Get a solution for your current website with the latest Responsive design across all device platforms;</p><hr>
<p>Get in touch today <a href="http://theappwebtech.com">appwebtech</a></p>
<ul>
  <li>Large Screen desktops</li>
  <li>Laptops and notebooks</li>
  <li>iPads and Tablets</li>
  <li>Smartphones, etc</li>
</ul>
