<% provide(:title, "Home")%>
<!DOCTYPE html>

<h1>Just another Web App</h1>

<p>
  Learning Technology is the best way forward as far as personal development is concerned.
</p>
<hr>
<p>
  For your personalised company/personal web app you can contact <a href="theappwebtech.com">appwebtech.</a> Mockups to be send within 24 hrs.
</p>
