<footer class="footer">
  <small>
    The <a href="http://appwebtech.com">appwebtech</a> app of the day. 
  </small>
  <nav>
    <ul><%= link_to "About", about_path %></ul>
    <ul><%= link_to "Contact", contact_path %></ul>
    <ul><a href="http://news.railstutorial.org/">News</a> </ul>

  </nav>
</footer>