<footer class="footer">
  <small>
    The <a href="http://appwebtech.com">appwebtech</a> app of the day. 
  </small>
  <nav>
    <ul><%= link_to "About", '#' %></ul>
    <ul><%= link_to "Contact", '#' %></ul>
    <ul><a href="http://news.railstutorial.org/">News</a> </ul>

  </nav>
</footer>